<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{'cceEditInventoryItem.addNewColdChainEquipment' | message}}</h2>
            </div>
            <div class="modal-body">
                <form id="edit-inventory-item-form"
                    name="editInventoryItemForm"
                    ng-submit="vm.goToStatusUpdate()">

                    <dl class="horizontal-list">
                        <dt>{{'cceEditInventoryItem.district' | message}}</dt>
                        <dd>{{vm.inventoryItem.facility.geographicZone.name}}</dd>
                        <dt>{{'cceEditInventoryItem.facility' | message}}</dt>
                        <dd>{{vm.inventoryItem.facility.name}}</dd>
                        <dt>{{'cceEditInventoryItem.program' | message}}</dt>
                        <dd>{{vm.inventoryItem.program.name}}</dd>
                        <dt>{{'cceEditInventoryItem.equipmentType' | message}}</dt>
                        <dd>{{vm.inventoryItem.catalogItem.type}}</dd>
                        <dt>{{'cceEditInventoryItem.makeModel' | message}}</dt>
                        <dd>{{vm.inventoryItem.catalogItem | makeModel}}</dd>
                    </dl>

                    <fieldset>

                        <div class="sub-heading">
                            <h3 class="title">{{'cceEditInventoryItem.equipmentIdentification' | message}}</h3>
                        </div>

                        <label for="serial-number">
                            {{'cceEditInventoryItem.serialNumber' | message}}
                        </label>

                        <input id="serial-number"
                            ng-model="vm.inventoryItem.equipmentTrackingId"
                            type="text"
                            required/>

                        <label for="reference-name">
                            {{'cceEditInventoryItem.referenceName' | message}}
                        </label>

                        <input id="reference-name"
                            ng-model="vm.inventoryItem.referenceName"
                            type="text"
                            required/>

                        <p class="note">
                            {{'cceEditInventoryItem.referenceName.description' | message}}
                        </p>

                    </fieldset>

                    <fieldset>

                        <div class="sub-heading">
                            <h3 class="title">{{'cceEditInventoryItem.equipmentHistory' | message}}</h3>
                        </div>

                        <fieldset id="utilization" class="form-group">

                            <legend>{{'cceEditInventoryItem.utilization' | message}}</legend>

                            <label class="radio" ng-repeat="option in vm.utilizationStatuses">
                                <input type="radio"
                                    ng-model="vm.inventoryItem.utilization"
                                    ng-value="option"
                                    required/>
                                {{vm.getUtilizationStatusLabel(option) | message}}
                            </label>

                        </fieldset>

                        <label for="year-of-installation">
                            {{'cceEditInventoryItem.yearOfInstallation' | message}}
                        </label>

                        <input id="year-of-installation"
                            name="yearOfInstallation"
                            type="number"
                            ng-model="vm.inventoryItem.yearOfInstallation"
                            max="9999"
                            min="1000"
                            required/>

                        <label for="source">{{'cceEditInventoryItem.source' | message}}</label>

                        <input id="source"
                            type="text"
                            ng-model="vm.inventoryItem.source"/>

                        <p class="note">
                            {{'cceEditInventoryItem.source.description' | message}}
                        </p>

                        <label for="year-of-warranty-expiry">
                            {{'cceEditInventoryItem.yearOfWarrantyExpiry' | message}}
                        </label>

                        <input id="year-of-warranty-expiry"
                            name="yearOfWarrantyExpiry"
                            ng-model="vm.inventoryItem.yearOfWarrantyExpiry"
                            type="number"
                            max="9999"
                            min="1000"/>

                    </fieldset>

                    <fieldset>

                        <div class="sub-heading">
                            <h3 class="title">{{'cceEditInventoryItem.equipmentInstallation' | message}}</h3>
                        </div>

                        <fieldset id="voltage-stabilizer" class="form-group">

                            <legend>{{'cceEditInventoryItem.voltageStabilizer' | message}}</legend>

                            <label class="radio" ng-repeat="option in vm.cceStatuses">
                                <input type="radio"
                                    ng-model="vm.inventoryItem.voltageStabilizer"
                                    ng-required="!vm.powerFieldsDisabled"
                                    ng-value="option"
                                    ng-disabled="vm.powerFieldsDisabled"/>
                                {{vm.getStatusLabel(option) | message}}
                            </label>

                        </fieldset>

                        <fieldset id="voltage-regulator" class="form-group">

                            <legend>{{'cceEditInventoryItem.voltageRegulator' | message}}</legend>

                            <label class="radio" ng-repeat="option in vm.cceStatuses">
                                <input type="radio"
                                    ng-model="vm.inventoryItem.voltageRegulator"
                                    ng-required="!vm.powerFieldsDisabled"
                                    ng-value="option"
                                    ng-disabled="vm.powerFieldsDisabled"/>
                                {{vm.getStatusLabel(option) | message}}
                            </label>

                        </fieldset>

                        <fieldset id="backup-generator" class="form-group">

                            <legend>{{'cceEditInventoryItem.backupGenerator' | message}}</legend>

                            <label class="radio" ng-repeat="option in vm.cceStatuses">
                                <input type="radio"
                                    ng-model="vm.inventoryItem.backupGenerator"
                                    ng-required="!vm.powerFieldsDisabled"
                                    ng-value="option"
                                    ng-disabled="vm.powerFieldsDisabled"/>
                                {{vm.getStatusLabel(option) | message}}
                            </label>
                        </fieldset>

                        <fieldset id="manual-temperature-gauge" class="form-group">

                            <legend>
                                {{'cceEditInventoryItem.manualTemperatureGauge' | message}}
                            </legend>

                            <label class="radio"
                                ng-repeat="option in vm.manualTemperatureGaugeTypes">
                                <input type="radio"
                                    ng-model="vm.inventoryItem.manualTemperatureGauge"
                                    ng-value="option"
                                    required/>
                                {{vm.getManualTemperatureGaugeTypeLabel(option) | message}}
                            </label>

                        </fieldset>

                        <fieldset id="remote-temperature-monitor" class="form-group">

                            <legend>
                                {{'cceEditInventoryItem.remoteTemperatureMonitor' | message}}
                            </legend>

                            <label class="radio"
                                ng-repeat="option in vm.remoteTemperatureMonitorTypes">
                                <input type="radio"
                                    ng-model="vm.inventoryItem.remoteTemperatureMonitor"
                                    ng-value="option"
                                    required/>
                                {{vm.getRemoteTemperatureMonitorTypeLabel(option) | message}}
                            </label>

                        </fieldset>

                    </fieldset>

                    <fieldset>

                        <label for="additional-notes">
                            {{'cceEditInventoryItem.additionalNotes' | message}}
                        </label>

                        <textarea id="additional-notes"
                            ng-model="vm.inventoryItem.additionalNotes">
                        </textarea>

                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">

                <button id="cancel"
                    class="btn btn-default"
                    ng-click="vm.goToInventoryList()">
                    {{'cceEditInventoryItem.cancel' | message}}
                </button>

                <button id="add"
                    class="btn btn-primary"
                    form="edit-inventory-item-form"
                    type="submit">
                    {{'cceEditInventoryItem.save' | message}}
                </button>

            </div>
        </div>
    </div>
</div>
