<h2>{{'cceInventoryList.cceInventory' | message}}</h2>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.inventoryItems || vm.inventoryItems.length === 0">
            {{'cceInventoryList.noInventoryItems' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'cceInventoryList.district' | message}}</th>
                <th>{{'cceInventoryList.facility' | message}}</th>
                <th>{{'cceInventoryList.serialNo' | message}}</th>
                <th>{{'cceInventoryList.makeModel' | message}}</th>
                <th>{{'cceInventoryList.type' | message}}</th>
                <th>{{'cceInventoryList.functionalStatus' | message}}</th>
                <th>{{'cceInventoryList.lastUpdated' | message}}</th>
                <th>{{'cceInventoryList.yearInstalled' | message}}</th>
                <th>{{'cceInventoryList.replacementYear' | message}}</th>
                <th>{{'cceInventoryList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.inventoryItems">
                <td>{{item.facility.geographicZone.name}}</td>
                <td>{{item.facility.name}}</td>
                <td>{{item.barCode}}</td>
                <td>{{item.catalogItem.manufacturer}} {{item.catalogItem.model}}</td>
                <td>{{item.catalogItem.type}}</td>
                <td class="status {{vm.getFunctionalStatusClass(item.functionalStatus)}}">{{item.functionalStatus}}</td>
                <td>{{item.lastModifier.name}} {{item.modifiedDate | openlmisDate}}</td>
                <td>{{item.yearOfInstallation}}</td>
                <td>{{item.yearOfWarrantyExpiry}}</td>
                <td><input type="button" value="{{'cceInventoryList.view' | message}}"/></td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
