<h2>{{'cceInventoryList.cceInventory' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-inventory-item" class="add" ui-sref="openlmis.cce.inventory.add"
        ng-show="vm.userHasRightToEdit">
        {{'cceInventoryList.addEquipment' | message}}
    </button>
    <table>
        <caption ng-if="!vm.inventoryItems || vm.inventoryItems.length === 0">
            {{'cceInventoryList.noInventoryItems' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'cceInventoryList.district' | message}}</th>
                <th>{{'cceInventoryList.facility' | message}}</th>
                <th>{{'cceInventoryList.serialNo' | message}}</th>
                <th>{{'cceInventoryList.makeModel' | message}}</th>
                <th>{{'cceInventoryList.type' | message}}</th>
                <th>{{'cceInventoryList.functionalStatus' | message}}</th>
                <th>{{'cceInventoryList.lastUpdated' | message}}</th>
                <th>{{'cceInventoryList.yearInstalled' | message}}</th>
                <th>{{'cceInventoryList.replacementYear' | message}}</th>
                <th>{{'cceInventoryList.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.inventoryItems">
                <td>{{item.facility.geographicZone.name}}</td>
                <td>{{item.facility.name}}</td>
                <td>{{item.equipmentTrackingId}}</td>
                <td>{{item.catalogItem | makeModel}}</td>
                <td>{{item.catalogItem.type}}</td>
                <td>
                    <div class="cce-inventory-item-status {{vm.getFunctionalStatusClass(item.functionalStatus)}}"
                        popover="{{vm.getReasonLabel(item.reasonNotWorkingOrNotInUse)}}">
                        {{vm.getStatusLabel(item.functionalStatus)}}
                        <a class="update-status" ng-click="vm.goToStatusUpdate(item)"></a>
                    </div>
                </td>
                <td>{{item.lastModifier.firstName}} {{item.lastModifier.lastName}} {{item.modifiedDate | openlmisDate}}</td>
                <td>{{item.yearOfInstallation}}</td>
                <td>{{item.yearOfWarrantyExpiry}}</td>
                <td>
                    <input type="button" class="inventory-item-details"
                        value="{{'cceInventoryList.view' | message}}"
                        ui-sref=".details({inventoryItemId: item.id, inventoryItem: item})"/>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
