<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title">
                  {{'cceInventoryItemStatus.equipmentFunctionalStatus' | message}}
              </h1>
            </div>
            <div class="modal-body">
                <form id="status-update-form"
                    name="statusUpdateForm"
                    ng-submit="vm.save()">

                    <h2>{{vm.inventoryItem.referenceName}}</h2>

                    <dl class="horizontal-list">
                        <dt>{{'cceInventoryItemStatus.facility' | message}}</dt>
                        <dd>{{vm.inventoryItem.facility.name}}</dd>
                        <dt>{{'cceInventoryItemStatus.equipmentType' | message}}</dt>
                        <dd>{{vm.inventoryItem.catalogItem.type}}</dd>
                    </dl>

                    <dl class="horizontal-list" id="current-status" ng-if="vm.inventoryItem.functionalStatus">
                        <dt>{{'cceInventoryItemStatus.currentStatus' | message}}</dt>
                        <dd class="cce-inventory-item-status {{vm.getFunctionalStatusClass(vm.inventoryItem.functionalStatus)}}">
                            {{vm.getStatusLabel(vm.inventoryItem.functionalStatus) | message}}
                        </dd>
                    </dl>

                    <fieldset>

                        <div class="sub-heading">
                            <h3 class="title">{{'cceInventoryItemStatus.updateFunctionalStatus' | message}}</h3>
                        </div>

                        <label for="functional-status" required>
                            {{'cceInventoryItemStatus.functionalityStatus' | message}}
                        </label>
                        <select id="functional-status"
                            ng-model="vm.newStatus"
                            ng-options="vm.getStatusLabel(status) for status in vm.statuses"
                            ng-change="vm.clearReasonAndDecommissionDate()"
                            placeholder="{{'cceInventoryItemStatus.pickNewFunctionalStatus' | message}}"
                            required>
                        </select>

                        <fieldset ng-if="vm.newStatus && !vm.isFunctioning(vm.newStatus)">
                            <label for="reason">
                                {{'cceInventoryItemStatus.reasonNotWorkingOrNotInUse' | message}}
                            </label>
                            <select id="reason"
                                ng-model="vm.reason"
                                ng-options="vm.getReasonLabel(reason) for reason in vm.reasons"
                                required>
                            </select>
                        </fieldset>

                        <fieldset ng-if="vm.isObsolete(vm.newStatus)">
                            <label for="decommission-date">
                                {{'cceInventoryItemStatus.decommissionDate' | message}}
                            </label>
                            <openlmis-datepicker input-id="decommission-date"
                                value="vm.decommissionDate"
                                required="true">
                            </openlmis-datepicker>
                        </fieldset>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel"
                    ng-click="vm.goToInventoryList()">{{'cceInventoryItemStatus.cancel' | message}}
                </button>

                <button id="update"
                    class="primary"
                    type="submit"
                    form="status-update-form">
                    {{'cceInventoryItemStatus.update' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
